
@model ComicShop.Web.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="jumbotron" style="text-align:center; background-color: transparent;">
</div>
<div class="container-fluid">
    <div style="background: repeating-linear-gradient(to right, #1d1d1d 0%, #313131 21%, #323232 50%, #313131 79%, #1d1d1d 100%); padding: 15px 15px 15px 15px; border-radius:15px 15px 15px 15px">
        <h2 class="align-center">@ViewBag.Title</h2>
        <h4 class="align-center">Create a new account</h4>
        <hr />
        <div class="row form-wrapper">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "col-md-6 col-md-push-3 page-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn pull-right site-button register-click">Register</button>
            }
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
