<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Comic Shop Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Microsoft.AspNet.Identity
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div style="padding-right:0px;padding-left:0px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Comic Shop", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Catalogue", "Index", "Comics", new { area = string.Empty }, null)</li>
                    @{
                        if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Admin part", "Index", "Admin")</li>
                        }
                    }
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 0px; margin-left: 15px; display: table-row">
                        <li><a href="/ShoppingCart"><span class="glyphicon glyphicon-shopping-cart">Cart</span></a></li>
                        <li>@Html.ActionLink("My Orders", "MyOrders", "Order", new { area = string.Empty, @id = User.Identity.GetUserId() }, null)</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="container-fluid">
        @RenderBody()
        <hr />
        <footer class="navbar navbar-inverse navbar-fixed-bottom">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = string.Empty }, null)</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = string.Empty }, null)</li>
            </ul>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
